* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 1614px;
  min-width: 1020px; }

.page {
  height: 1614px;
  width: 984px;
  margin: 0 18px 0 18px;
  font-family: "Arial";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 132px 1229px 253px;
  grid-template-rows: 132px 1229px 253px;
  grid-template-areas: "page-header" "main" "page-footer";
  background-color: #f6f5f3; }

.button:hover {
  opacity: .8; }

.page-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: page-header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .page-header__logo {
    width: 167px;
    height: 130px;
    margin-right: 74px; }

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 388px 456px 385px;
  grid-template-rows: 388px 456px 385px;
  grid-template-areas: "car-slider-block" "video-block" "facilities-block"; }

.car-slider-block {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: car-slider-block;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 163px 658px 163px;
  grid-template-columns: 163px 658px 163px;
  -ms-grid-rows: 218px 170px;
  grid-template-rows: 218px 170px;
  grid-template-areas: "left-side text right-side" "left-side cars-imgs right-side"; }
  .car-slider-block__left-side {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: left-side;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 31px; }
  .car-slider-block__text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    padding: 31px 10px 0 18px;
    line-height: 1.2;
    text-indent: -18px;
    font-size: 36px; }
  .facility > .car-slider-block__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1; }
  .car-slider-block__cars-imgs {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: cars-imgs;
    padding: 14px 0 0 16px; }
  .car-slider-block__right-side {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: right-side;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 31px; }

.slide-switcher__button {
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 90, 0, 0.8);
  box-shadow: 1px 1px 1px rgba(255, 90, 0, 0.8);
  border-radius: 50%;
  background-color: #ffdb4a; }
  .slide-switcher__button_left {
    margin: 17px 0 0 20px; }
  .slide-switcher__button_right {
    margin: 17px 0 0 23px; }

.video-block {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .video-block__background-img-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 25px;
    width: 641px;
    height: 361px;
    background-image: url(../img/video-block/video-preview.png); }
  .video-block__descr {
    width: 100%;
    height: 49px;
    background-color: rgba(41, 54, 60, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 29px; }
  .video-block__play-button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 71px;
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 1px 1px 1px rgba(255, 90, 0, 0.8);
    box-shadow: 1px 1px 1px rgba(255, 90, 0, 0.8);
    border-radius: 50%;
    background-color: #ffdb4a; }
    .video-block__play-button_arrow {
      margin: 36px 0 0 48px; }

.facilities-block {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: facilities-block;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 48px 337px;
  grid-template-rows: 48px 337px;
  grid-template-areas: "header" "stack"; }
  .facilities-block__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    text-align: center;
    font-size: 47px; }
  .page-footer > .facilities-block__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }
  .facilities-block__stack {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: stack;
    padding-left: 21px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); }

.facility {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 129px 33px 175px;
  grid-template-rows: 129px 33px 175px;
  grid-template-areas: "icon" "tittle" "text";
  text-shadow: 1px 0 black; }
  .facility__icon {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: icon;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .facility__icon_img1 {
      margin-left: 22px;
      margin-bottom: 6px; }
    .facility__icon_img2 {
      margin-left: 18px;
      margin-bottom: 10px; }
    .facility__icon_img3 {
      margin-left: 12px;
      margin-bottom: 15px; }
    .facility__icon_img4 {
      margin-left: 18px;
      margin-bottom: 15px; }
  .facility__tittle {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: tittle;
    padding-left: 20px;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .facility__text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    line-height: 1.2em;
    padding: 18px 0 0 19px;
    font-size: 16px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .facility > .facility__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1; }

.page-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: page-footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 51px 202px;
  grid-template-rows: 51px 202px;
  grid-template-areas: "header" "button-section"; }
  .page-footer__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    padding-top: 12px;
    font-size: 42px;
    text-align: center; }
  .page-footer > .page-footer__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }
  .page-footer__button-section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: button-section;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.subscribe-button {
  width: 317px;
  height: 70px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffdc01), to(#ffe240));
  background-image: -webkit-linear-gradient(bottom, #ffdc01 0%, #ffe240 100%);
  background-image: -o-linear-gradient(bottom, #ffdc01 0%, #ffe240 100%);
  background-image: linear-gradient(to top, #ffdc01 0%, #ffe240 100%);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.72);
  font-size: 36px; }
  .subscribe-button:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ffe130), to(#ffe761));
    background-image: -webkit-linear-gradient(bottom, #ffe130 0%, #ffe761 100%);
    background-image: -o-linear-gradient(bottom, #ffe130 0%, #ffe761 100%);
    background-image: linear-gradient(to top, #ffe130 0%, #ffe761 100%); }
