@import "nullstyle.scss";

body{
  display: flex;
  justify-content: center;
  min-height: 1614px;
  min-width: 1020px;
}

.page{
  height: 1614px;
  width: 984px;
  margin: 0 18px 0 18px;
  font-family: "Arial";
  display: grid;
  grid-template-rows: 132px 1229px 253px;
  grid-template-areas:
  "page-header"
  "main"
  "page-footer";
  background-color: #f6f5f3;
}
// button
.button:hover{
  opacity: .8;
}

// page-header
.page-header{
  grid-area: page-header;
  display: flex;
  justify-content: flex-end;
  &__logo{
    width: 167px;
    height: 130px;
    margin-right: 74px;
  }
}

// main
.main{
  grid-area: main;
  display: grid;
  grid-template-rows: 388px 456px 385px;
  grid-template-areas:
  "car-slider-block"
  "video-block"
  "facilities-block";
}

//main car-slider-block
.car-slider-block{
  grid-area: car-slider-block;
  display: grid;
  grid-template-columns: 163px 658px 163px;
  grid-template-rows: 218px 170px;
  grid-template-areas:
  "left-side text right-side"
  "left-side cars-imgs right-side";
  &__left-side{
    grid-area: left-side;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 31px;
  }
  &__text{
    grid-area: text;
    padding: 31px 10px 0 18px;
    line-height: 1.2;
    text-indent: -18px;
    font-size: 36px;
  }
  &__cars-imgs{
    grid-area: cars-imgs;
    padding: 14px 0 0 16px;
  }
  &__right-side{
    grid-area: right-side;
    display: flex;
    align-items: center;
    padding-left: 31px;
  }
}

//slide-switcher
.slide-switcher{
  &__button{
    width: 60px;
    height: 60px;
    box-shadow: 1px 1px 1px rgba(255, 90, 0, 0.8);
    border-radius: 50%;
    background-color: #ffdb4a;
    &_left{
      margin: 17px 0 0 20px;
    }
    &_right{
      margin: 17px 0 0 23px;
    }
  }
}

//main video-block
.video-block{
  grid-area: video-block;
  display: flex;
  justify-content: center;
  &__background-img-form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 641px;
    height: 361px;
    background-image: url(../img/video-block/video-preview.png);
  }
  &__descr{
    width: 100%;
    height: 49px;
    background-color: rgba(41, 54, 60, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 29px;
  }
  &__play-button{
    align-self: center;
    margin-top: 71px;
    width: 128px;
    height: 128px;
    box-shadow: 1px 1px 1px rgba(255, 90, 0, 0.8);
    border-radius: 50%;
    background-color: #ffdb4a;
    &_arrow{
      margin: 36px 0 0 48px;
    }
  }
}

//main facilities-block
.facilities-block{
  grid-area: facilities-block;
  display: grid;
  grid-template-rows: 48px 337px;
  grid-template-areas:
  "header"
  "stack";
  &__header{
    grid-area: header;
    text-align: center;
    font-size: 47px;
  }
  &__stack{
    grid-area: stack;
    padding-left: 21px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
  }
}

.facility{
  display: grid;
  grid-template-rows: 129px 33px 175px;
  grid-template-areas:
  "icon"
  "tittle"
  "text";
  text-shadow:1px 0 black;
  &__icon{
    grid-area: icon;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    &_img1{
      margin-left: 22px;
      margin-bottom: 6px;
    }
    &_img2{
      margin-left: 18px;
      margin-bottom: 10px;
    }
    &_img3{
      margin-left: 12px;
      margin-bottom: 15px;
    }
    &_img4{
      margin-left: 18px;
      margin-bottom: 15px;
    }
  }
  &__tittle{
    grid-area: tittle;
    padding-left: 20px;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__text{
    grid-area: text;
    line-height: 1.2em;
    padding: 18px 0 0 19px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// page-footer
.page-footer{
  grid-area: page-footer;
  display: grid;
  grid-template-rows: 51px 202px;
  grid-template-areas:
  "header"
  "button-section";
  &__header{
    grid-area: header;
    padding-top: 12px;
    font-size: 42px;
    text-align: center;
  }
  &__button-section{
    grid-area: button-section;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscribe-button{
  width: 317px;
  height: 70px;
  background-image: linear-gradient(to top, #ffdc01 0%, #ffe240 100%);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.72);
  font-size: 36px;
  &:hover{
    background-image: linear-gradient(to top, #ffe130 0%, #ffe761 100%);
  }
}
